<div class="area">
    <a id="prev" class="prevBtn qq" href="javascript:void(0)"></a>
    <a id="next" class="nextBtn qq" href="javascript:void(0)"></a>
    <div id="js" class="js">
        <div class="box01">
            <img src="image/01.jpg">
            <img style="DISPLAY: none" src="image/02.jpg">
            <img style="DISPLAY: none" src="image/03.jpg">
            <img style="DISPLAY: none" src="image/04.jpg">
            <img style="DISPLAY: none" src="image/05.jpg">
        </div>
        <div class="bg"></div>
        <div id="jsNav" class="jsNav">
            <a class="trigger imgSelected" href="javascript:void(0)"></a>
            <a class="trigger" href="javascript:void(0)"></a>
            <a class="trigger" href="javascript:void(0)"></a>
            <a class="trigger" href="javascript:void(0)"></a>
            <a class="trigger" href="javascript:void(0)"></a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // $(".area").hover(function () {
        //     $(this).find(".qq").show(100);
        // }
        // ,function () {
        //     $(this).find(".qq").hide(100);
        // });
    });
</script>